html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

hr {
  border-color: #70ad55;
}

input {
  border-color: #6e8c62;
}

select {
  border-color: #6e8c62;
}

textarea {
  height: 160px;
}

.green {
  color: #70ad55;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
  color: #fff;
}

.btn:hover {
  background-color: #70ad55;
  border-color: #70ad55;
  color: #fff;
}
