html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

hr {
  border-color: #70ad55;
}

input {
  border-color: #6e8c62;
}

select {
  border-color: #6e8c62;
}
